<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
  </head>
  <body>

    <div class="contianer">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
        <input
          type="text"
          id ="cityname"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          
        />
        <button
          type="button"
          class="btn btn-primary"
          id="submitBtn"
        >Primary</button>
      </div>
    </div>

    <div class="container">
      <p id="city_name">Get out put here</p>
      <p id="day">day</p>
      <p id="temp">temp</p>
      <p id="today_data">13 OCT</p>
    </div>
    <script src="/public/JS/main.js"></script>
  </body>
</html>